@using FinalHPMS.ViewModels;
@model TicketCreateViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clients" class="control-label"></label>
                <input asp-for="Clients" class="form-control" />
                <span asp-validation-for="Clients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAndHour" class="control-label"></label>
                <input asp-for="DateAndHour" class="form-control" />
                <span asp-validation-for="DateAndHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Communities" class="control-label"></label>
                <input asp-for="Communities" class="form-control" />
                <span asp-validation-for="Communities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products" class="control-label"></label>
                <input asp-for="Products" class="form-control" />
                <span asp-validation-for="Products" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
