@model FinalHPMS.Models.Product

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body class="green-bg">
<h1>Editar</h1>

<h4>Modifique los datos de su producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="0">Machine</option>
                    <option value="1">Mould</option>
                    <option value="2">RawMaterial</option>
                    <option value="3">Object</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightKg" class="control-label"></label>
                <input asp-for="WeightKg" class="form-control" />
                <span asp-validation-for="WeightKg" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ShippingAvailable" /> @Html.DisplayNameFor(model => model.ShippingAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Dimension" class="control-label"></label>
                <input asp-for="Dimension" class="form-control" />
                <span asp-validation-for="Dimension" class="text-danger"></span>
            </div>
            <div>
                <dt class = "col-6">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index"
                class="btn btn-outline-info" role="button" aria-pressed="true">
                Volver al Menú de Productos</a>
            </div>
        </form>
    </div>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
