@model List<Product>
@{
    ViewData["Title"] = "¡Bienvenidos a PlastiCool!";
}
<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>

<body class="green-bg">
    <img src="../images/flechaarriba-remove.png" width="180" height="150" align="right">
    <div class="text-center">
        <h1 style="font-family: 'Poppins', sans-serif;">PlastiCool</h1>
        <div class="container">
        <h1 class="display-4 text-primary fs-3">Negocio de Gestión para la Venta de Productos Orientados al Reciclaje de Plástico</h1>
        <p class="text-secondary fs-5">...Un enfoque sostenible para el futuro...</p>
    </div>
    </div>
</body>