@model List<Product>
@{
    ViewData["Title"] = "¡Bienvenidos a PlastiCool!";
}
<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>

<body class="green-bg">
    <img src="../images/flechaarriba-remove.png" width="110" height="120" align="right">
    <div class="text-center">
        <h1 style="font-family: 'Poppins', sans-serif; color: #FFFFFF;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">PlastiCool</h1>
                <p style="font-family: 'Poppins', italic, sans-serif; color: brown;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Un enfoque sostenible para el futuro. Una comunidad de comunidades.</p>
        <div class="container">
        <br>
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Inicia Sesión</a> 
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Regístrate</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h5 style="font-family: 'Poppins', sans-serif; color: brown;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Gestión de Ventas de Productos Orientados al Reciclaje de Plástico</h5>
    </div>
    </div>
</body>