@{
    ViewData["Title"] = "Licencia";
}

<body class="pinkdark-bg">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <br>
    <p class="text-center font-monospace lh-lg">
        Esta aplicación web se rige por la licencia Creative Commons, lo que significa que puedes utilizar, compartir y construir sobre el contenido y las funcionalidades proporcionadas de acuerdo con los términos de la licencia seleccionada. La licencia Creative Commons es un conjunto de licencias estandarizadas que ofrecen flexibilidad en los derechos de autor y promueven la colaboración creativa.

    El contenido y las obras presentes en esta aplicación están protegidos por derechos de autor, pero se han otorgado permisos específicos para su uso bajo una licencia Creative Commons. Por favor, asegúrate de leer y entender los términos de la licencia aplicable antes de utilizar cualquier contenido o funcionalidad proporcionada por esta aplicación.

    Las licencias Creative Commons ofrecen diferentes combinaciones de permisos, como atribución, no comercial, sin obras derivadas y compartir igual. Asegúrate de revisar los detalles de la licencia correspondiente para conocer las restricciones y los requisitos específicos de uso.

    Recuerda que las licencias Creative Commons son irrevocables, lo que significa que una vez que se otorga una licencia, no se puede retirar. Sin embargo, si violas los términos de la licencia, puedes estar sujeto a acciones legales por infracción de derechos de autor.

    Agradecemos tu comprensión y respeto por los derechos de autor y la licencia Creative Commons al utilizar esta aplicación web. Si tienes alguna pregunta sobre la licencia o el uso permitido, no dudes en ponerte en contacto con nosotros.</p>
</body>