html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.green-bg {
  background-color: #f0f8ea; /* Color verde claro */
}
.greendark-bg {
  background-color: #11BB4F; /* Color verde oscuro */
}



@font-face {
  font-family: 'Poppins';
  src: url('Fonts/Poppins-Regular.ttf') format('truetype');
}
h1, p {
  font-family: 'Poppins', sans-serif;
}